In [1]:
import pandas as pd

In [2]:
from scipy.stats import chi2_contingency

In [3]:
#Sample data
data = {
    'Subject':['Math','Science','History','Math','Science','History','Math','Science','History'],
    'Grade':['A','A','A','B','B','B','C','C','C']
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

   Subject Grade
0     Math     A
1  Science     A
2  History     A
3     Math     B
4  Science     B
5  History     B
6     Math     C
7  Science     C
8  History     C

In [6]:
#Creating a contingency table
contingency_table = pd.crosstab(df['Subject'],['Grade'])

In [7]:
contingency_table

col_0    Grade
Subject
History      3
Math         3
Science      3

In [8]:
#Ferfoming chi-square test

In [9]:
chi2, p, dof, expected = chi2_contingency(contingency_table)

In [10]:
#Outputting results

In [11]:
print(f"chi-square statistic: {chi2}")

chi-square statistic: 0.0

In [12]:
print(f"p-value: {p}")

p-value: 1.0

In [13]:
print(f"Degress of freedom: {dof}")

Degress of freedom: 0

In [15]:

print(f"Degrees of freedom: {dof}")
print("Expected frequencies table:")
print(expected)

Degrees of freedom: 4
Expected frequencies table:
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [18]:
# The interpretation of the test involves checking the p-value against a chosen significance level 
# (e.g., 0.05). 
# If the p-value is less than the significance level, 
# it suggests evidence to reject the null hypothesis, indicating a significant association between the variables. 
# If the p-value is greater, it suggests no significant association.